<h1 class="my-3">Plano de Estudos</h1>

<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h4>Período: 2018.2</h4>
      <button class="btn btn-success">Nova Inscrição</button>
    </div>
  </div>
  <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Disciplina</th>
            <th scope="col">Turma</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-7">Programação I</td>
            <td class="col-2">A1</td>
            <td class="col-3">
                <div>
                    <button class="btn btn-primary">Editar</button>
                    <button class="btn btn-danger">Cancelar</button>
                </div>
            </td>
          </tr>
          <tr>
            <td class="col-7">Redes I</td>
            <td class="col-2">A1</td>
            <td class="col-3">
                <div>
                    <button class="btn btn-primary">Editar</button>
                    <button class="btn btn-danger">Cancelar</button>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>