<h1 class="mt-3">Atividades Complementares</h1>

<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h4>Minhas Solicitações</h4>
    <%= link_to 'Nova AC', ac_new_path, class: 'btn btn-success' %>
  </div>
  <div class="card-body">
    <div class="input-group mb-3 w-50 ml-auto">
      <input type="text" class="form-control" aria-label="Pesquisar"
             aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Pesquisar</button>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">
          <div class="d-flex">
              <span class="d-flex flex-column justify-content-center">
                Atividade Complementar
              </span>
            <div class="ml-2 d-flex flex-column">
              <i class="fa fa-angle-up" aria-hidden="true"></i>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>
          </div>
        </th>
        <th scope="col">
          <div class="d-flex">
              <span class="d-flex flex-column justify-content-center">
                Status
              </span>
            <div class="ml-2 d-flex flex-column">
              <i class="fa fa-angle-up" aria-hidden="true"></i>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>
          </div>
        </th>
        <th scope="col">
          <div class="d-flex">
              <span class="d-flex flex-column justify-content-center">
                CH Solicitada
              </span>
            <div class="ml-2 d-flex flex-column">
              <i class="fa fa-angle-up" aria-hidden="true"></i>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>
          </div>
        </th>
        <th scope="col">
          <div class="d-flex">
              <span class="d-flex flex-column justify-content-center">
                CH Aprovada
              </span>
            <div class="ml-2 d-flex flex-column">
              <i class="fa fa-angle-up" aria-hidden="true"></i>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>
          </div>
        </th>
        <th scope="col">
          <div class="d-flex">
              <span class="d-flex flex-column justify-content-center">
                Data Aprov.
              </span>
            <div class="ml-2 d-flex flex-column">
              <i class="fa fa-angle-up" aria-hidden="true"></i>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>
          </div>
        </th>
        <th scope="col">Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Estágio</td>
        <td class="text-success">Aprovada</td>
        <td>300</td>
        <td>300</td>
        <td>10/10/2016</td>
        <td class="align-middle">
          <div class="d-flex justify-content-around">
            <%= link_to ac_show_path, class: 'btn btn-primary' do %>
              <i class="fa fa-info-circle fa-lg" aria-hidden="true"
                 data-toggle="tooltip" data-placement="top" title="Detalhes"></i>
              Detalhes
            <% end %>
          </div>
        </td>
      </tr>
      <tr>
        <td>Simpósio</td>
        <td class="text-warning">Pendente</td>
        <td>20</td>
        <td>--</td>
        <td>--</td>
        <td class="align-middle">
          <div class="d-flex justify-content-around">
            <%= link_to ac_show_path, class: 'btn btn-primary' do %>
              <i class="fa fa-info-circle fa-lg" aria-hidden="true"
                 data-toggle="tooltip" data-placement="top" title="Detalhes"></i>
              Detalhes
            <% end %>
            <a href="#" class="btn btn-secondary">
              <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"
                 data-toggle="tooltip" data-placement="top" title="Editar"></i>
              Editar
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
