<h1 class="text-center mt-3">Atividade Complementar</h1>

<div class="alert alert-success">
  A solicitação de Atividade Complementar foi criada com sucesso!
</div>

<div class="card">
  <div class="card-header">
    <h4>Detalhes da Atividade Complementar</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <div><strong>Nome:</strong> Campus Party Brasil 11</div>
        <div><strong>Tipo:</strong> Palestras</div>
        <div><strong>CH Solicitada:</strong> 60</div>
        <div><strong>Status:</strong> Aprovada</div>
        <div><strong>Professor Responsável:</strong> Daniela</div>
        <div><strong>Local da Atividade:</strong> São Paulo</div>
        <div><strong>Data de Início:</strong> 01/02/2018</div>
        <div><strong>Data de Fim:</strong> 06/02/2018</div>
        <div><strong>Data de Solicitação:</strong> 05/10/2018</div>
        <div><strong>Data de Atualização:</strong> 05/12/2018</div>
      </div>

      <div class="col-lg-6">
        <strong>Resumo:</strong>
        A Campus Party Brasil é o principal acontecimento tecnológico realizado anualmente no Brasil.
        Nele são tratados os mais diversos temas relacionados à Internet, reunindo um grande número de
        comunidades e usuários da rede mundial de computadores envolvidos com tecnologia e cultura digital.
      </div>
    </div>
  </div>
  <div class="card-footer">
<!--    <a href="#" class="btn btn-primary">Editar</a>-->
    <%= link_to 'Voltar', :back, class: 'btn btn-secondary' %>
  </div>
</div>
