<h1 class="mt-3">Cancelamento de Turma</h1>

<div class="alert alert-success">
  A solicitação de cancelamento de turma foi criada com sucesso!
</div>

<div class="card">
  <div class="card-header">
    <h4>Detalhes da Solicitação</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-3">
        <strong>Disciplina:</strong>
      </div>
      <div class="col-lg-9">IHC</div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <strong>Turma:</strong>
      </div>
      <div class="col-lg-9">A1</div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <strong>Status</strong>
      </div>
      <div class="col-lg-9">Pendente</div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <strong>Período</strong>
      </div>
      <div class="col-lg-9">2018.2</div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <strong>Data da Solicitação</strong>
      </div>
      <div class="col-lg-9">25/08/2018</div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <strong>Data da Última Atualização</strong>
      </div>
      <div class="col-lg-9">---</div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <a href="#" class="btn btn-danger mr-3">Cancelar Solicitação</a>
    <%= link_to 'Voltar', :back, class: 'btn btn-secondary' %>
  </div>
</div>
