<h1 class="mt-3">Aproveitamento de Disciplina</h1>

<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h4>Minhas Solicitações</h4>
    <%= link_to 'Novo Aproveitamento', aproveitamento_new_path, class: 'btn btn-success' %>
  </div>
  <div class="card-body">
    <div class="input-group mb-3 w-50 ml-auto">
      <input type="text" class="form-control" aria-label="Pesquisar"
             aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Pesquisar</button>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">
            <div class="d-flex">
                <span class="d-flex flex-column justify-content-center">
                  Disciplina
                </span>
              <div class="ml-2 d-flex flex-column">
                <i class="fa fa-angle-up" aria-hidden="true"></i>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </div>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
                <span class="d-flex flex-column justify-content-center">
                  Nota
                </span>
              <div class="ml-2 d-flex flex-column">
                <i class="fa fa-angle-up" aria-hidden="true"></i>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </div>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
                <span class="d-flex flex-column justify-content-center">
                  Nota VS
                </span>
              <div class="ml-2 d-flex flex-column">
                <i class="fa fa-angle-up" aria-hidden="true"></i>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </div>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
                <span class="d-flex flex-column justify-content-center">
                  Status
                </span>
              <div class="ml-2 d-flex flex-column">
                <i class="fa fa-angle-up" aria-hidden="true"></i>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </div>
            </div>
          </th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="align-middle">Programação I</td>
          <td class="align-middle">7.0</td>
          <td class="align-middle">---</td>
          <td class="align-middle text-success">Aprovada</td>
          <td>
            <div class="d-flex flex-column align-items-center">
              <%= link_to aproveitamento_show_path, class: 'btn btn-primary w-90' do %>
                <i class="fa fa-info-circle fa-lg" aria-hidden="true"
                   data-toggle="tooltip" data-placement="top" title="Detalhes"></i>
                Detalhes
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td class="align-middle">Programação Orientada a Objetos</td>
          <td class="align-middle">5.0</td>
          <td class="align-middle">6.0</td>
          <td class="align-middle text-warning">Pendente</td>
          <td>
            <div class="d-flex flex-column align-items-center">
              <%= link_to aproveitamento_show_path, class: 'btn btn-primary w-90' do %>
                <i class="fa fa-info-circle fa-lg" aria-hidden="true"
                   data-toggle="tooltip" data-placement="top" title="Detalhes"></i>
                Detalhes
              <% end %>
              <a href="#" class="btn btn-danger w-90 mt-2">
                <i class="fa fa-ban fa-lg" aria-hidden="true"
                   data-toggle="tooltip" data-placement="top" title="Cancelar"></i>
                Cancelar
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
